/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía base */
body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #5389d9;
  color: #333;
}

header {
  display: flex;
  justify-content: space-around; 
  padding: 1rem;
  background-color: #000000;
}
header h1 {
  margin-left: -10rem;
  color: white  ;
}

.nav-enlaces {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem;
  margin-right: -6rem;
}

.nav-enlaces a {
  color: rgb(198, 198, 198);
  text-decoration: none;
  font-weight: bold;
}


/* Seccion 1 */

.propuesta-valor {
  background-color:rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  border: #333 solid;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  letter-spacing: 2px;
  line-height: 200%;
  font-size: larger;
}

.mapa {
width: 60%;
border: #333 solid;
}

.seccion1 {
width: 35%;
flex: 1 1 300pxx
border: #333 solid;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/*Seccion 2*/

.como-funciona {
  background-color:rgb(45, 242, 203);
  display: flex;
  flex-direction: column;
  border: #333 solid;
  padding: 1rem;
  margin: 2rem;
  text-align:left;
  letter-spacing: 2px;
  line-height: 200%;
  font-size: larger;
}


/*Seccion 3*/

.interaccion  {
   background-color:antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  border: #333 solid;
  padding: 1rem;
  width: 35%;
  margin: 2rem;
  margin-left: 62%;
  text-align: center;
  letter-spacing: 2px;
  line-height: 200%;
  font-size: larger;
}



/*Seccion 4*/

.testimonios  {
   background-color:antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  border: #333 solid;
  padding: 1rem;
  width: 35%;
  margin: 2rem;
  margin-left: 62%;
  text-align: center;
  letter-spacing: 2px;
  line-height: 200%;
  font-size: larger;
}

/*Seccion 5*/

.cta-doble {
  background-color:antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  border: #333 solid;
  padding: 1rem;
  width: 35%;
  margin: 2rem;
  margin-left: 62%;
  text-align: center;
  letter-spacing: 2px;
  line-height: 200%;
  font-size: larger;
}