<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

   <!-- NAV PREMIUM -->
  <div class="nav-wrapper" id="navbar">
    <div class="nav-container">
      <!-- LOGO A LA IZQUIERDA -->
      <a href="index.html" class="logo">
        <i class="fas fa-seedling"></i> AgroConnect
      </a>

      <!-- MENÚ -->
      <nav class="nav-menu" id="navMenu">
        <a href="../index.html" class="nav-link active">Inicio</a>
        <a href="../QuienesSomos/quienessomos.html" class="nav-link">Quiénes Somos</a>
         <a href="../explorar/explorar.html" class="nav-link">Explorar</a>
        <a href="../Mercado/MercadoGloba.html" class="nav-link">Mercado Global</a>
        <a href="../vender/vender.html" class="nav-link">Vender</a>
        <a href="../comprar/comprar.html" class="nav-link">Comprar</a>
      </nav>

      <!-- BOTONES DE ACCIÓN -->
      <div class="action-buttons">
        <a href="../iniciarSeccion/inicioDeSeccion.html" class="btn-login">Iniciar Sesión</a>
        <a href="../crearcuenta/crearCuenta.html" class="btn-signup">Crear Cuenta</a>
      </div>

      <!-- HAMBURGUESA -->
      <div class="hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>



</body>
</html>